= form_for work, url: { action: action }, authenticity_token: true do |f|
  = f.text_field :description, class: 'form-control'
  = f.submit 'Save', data: { disable: true }, class: 'btn btn-success'
= link_to 'Cancel', root_path, class: 'btn btn-default'