= form_for @work, url: { action: action }, authenticity_token: true, remote: true do |f|
  = f.text_field :description, class: 'form-control'
  = f.submit 'Save', data: { disable: true }, class: 'btn btn-success'
